body {
	min-width: 1200px;
	margin: 0;
	padding: 0;
	font-size: 10px;
    line-height: 20px;
    font-family: "Arial", sans-serif;
    color: #333333;
	background-color: #ffffff;
}

.container {
	display: flex;
	margin: 0 auto;
	justify-content: flex-start;
}

/*Информационная панель*/
.info {
	width: 400px;
	margin: 20px 20px;
}

.player {
	display: flex;
	flex-direction: row;
    justify-content: space-between;
	align-items: center;
}

.playerName,
.status {
	color: #999999;
}

.timeline {
	color: #CCCCCC;
}

.captives {
	display: flex;
	min-height: 250px;
	flex-wrap: wrap;
	background-color: #f8f8f8;
}

.captiveFigure {
	margin: 10px;
	opacity: 0.5;
}

/*Доска*/

.board {
	display: grid;
	width: 536px;
	height: 536px;
	margin-top: 20px;
	
	grid-template-columns:	17px 62px 62px 62px 62px 62px 62px 62px 62px 17px;
	grid-template-rows:		17px 62px 62px 62px 62px 62px 62px 62px 62px 17px;
	
	background-color: #3e495f;
	border: 3px outset #54627f;
	box-sizing: border-box;
}

/*Клетки*/

.cell {
	position: relative;
	color: #ffffff;
	text-align: center;
}

.whiteCell {
	background-color: #e5e5e5;
	border: 1px outset #9da4ae;
}

.blackCell {
	background-color: #7d8fbd;
}

.whiteCellLegal {
	background-color: #a9a9a9;
}

.blackCellLegal {
	background-color: #696969;
}

.contentNumber {
	line-height: 62px;
}

/*Фигуры*/

.contentFigure {
	width: 62px;
	height: 62px;
	
	filter: drop-shadow(1px 1px 1px #666666);
	background-image: url("img/image2.png");
	background-repeat: no-repeat;
	background-size: 355px auto;
	
	cursor: pointer;
}

.contentFigure:hover {
}

/*Белые*/
/*Король*/
.figureKingWhite {
	background-position: 0px 0px;
}
/*Ферзь*/
.figureQueenWhite {
	background-position: -59px 0px;
}
/*Слон*/
.figureBishopWhite {
	background-position: -118px 0px;
}
/*Конь*/
.figureKnightWhite {
	background-position: -177px 0px;
}
/*Ладья*/
.figureRookWhite {
	background-position: -236px 0px;
}
/*Пешка*/
.figurePawnWhite {
	background-position: -295px 0px;
}

/*Чёрные*/
/*Король*/
.figureKingBlack {
	background-position: 0px -59px;
}
/*Ферзь*/
.figureQueenBlack {
	background-position: -59px -59px;
}
/*Слон*/
.figureBishopBlack {
	background-position: -118px -59px;
}
/*Конь*/
.figureKnightBlack {
	background-position: -177px -59px;
}
/*Ладья*/
.figureRookBlack {
	background-position: -236px -59px;
}
/*Пешка*/
.figurePawnBlack {
	background-position: -295px -59px;
}
